{% extends "base.html" %}

{% block title %}À propos de nous - Faculté des Sciences Humaines{% endblock %}

{% block content %}
<!-- À propos -->
<section id="about" class="about">
    <div class="container">
        <h2>À propos de FASCH</h2>
        <p> En 2011, elle a transformé sa formation post graduée en Maitrise en Population et Développement (MAPODE). Cette formation qui se donne sur deux ans est pilotée par le CEPODE (Centre en Population et Développement).</p>

        <p>Pour être admis à la FASCH, il faut réussir le concours d’admission organisé deux fois sur l’année académique. Le concours comprend trois épreuves : rédaction française et créole, connaissances générales et mathématiques. Le cycle d’étude qui dure quatre ans comprend une année préparatoire (propédeutique) et trois années de spécialisation. Pour être admis en Niveau I, l’étudiant en année préparatoire doit réussir huit (😎 cours sur 11. Dans le cas contraire l’étudiant doit faire ses adieux à la FASCH, mais il a droit de participer à nouveau le concours d’admission. S’il réussit, il passera une session afin de reprendre les cours pour lesquels il n’a pas réussi, pour ensuite continuer en niveau.
        <p>Pour avoir le grade de licencié dans le champ d’étude choisi, l’étudiant doit réaliser et soutenir un mémoire <p/>
        <p/>
    </div>
</section>
{% endblock %}
