{% extends 'base.html' %}

{% block title %}Mon Profil{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profil.css' %}" />

{% endblock %}
{% block content %}
<div class="profile-container">
    <h2>Bienvenue, {{ user.username }} !</h2>
    <p><strong>Nom :</strong> {{ user.last_name }}</p>
    <p><strong>Prenom :</strong> {{ user.first_name }}</p>
    <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
    
    <p><strong>Adresse e-mail :</strong> {{ user.email }}</p>
    <p><strong>Date de création du compte :</strong> {{ user.date_joined|date:"d M Y" }}</p>

    <div class="profile-actions">
        <!-- Bouton pour se déconnecter -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Se déconnecter</button>
        </form>
    
        <!-- Bouton pour modifier le profil -->
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Modifier le profil</a>
    
        <!-- Bouton "Annuler" qui redirige vers la vue d'annulation -->
        <a href="{% url 'home' %}" class="btn btn-secondary">Annuler</a>
    </div>
    
</div>
{% endblock %}


