/* Styles pour la section À propos */
.about {
    background-color: #f1f1f1; /* Fond doux et clair */
    padding: 60px 0;
}

.about .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Fond blanc pour le contenu */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    border-radius: 8px;
}

.about h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.about p {
    font-size: 1.125rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify; /* Justifie le texte pour un meilleur alignement */
}

/* Responsivité */
@media screen and (max-width: 768px) {
    .about h2 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .about .container {
        padding: 15px;
    }
}
