#evenements, #annonces, #articles, #cours_populaires, #professeurs_en_vedette {
    padding: 40px 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Image de fond pour les sections */


#annonces {
    background-color: #f0f0f0;
}

#articles {
    background: #fff;
}

/* Ajouter des effets de dégradé */
#cours_populaires {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
}

#professeurs_en_vedette {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
}

/* Animation des cartes de cours et professeurs au survol */
.cours-card, .professeur-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cours-card:hover, .professeur-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.cours-card h3, .professeur-card h3 {
    transition: color 0.3s ease;
}

.cours-card:hover h3, .professeur-card:hover h3 {
    color: #007bff; /* Change la couleur du texte au survol */
}
