


/* Titre */
h1 {
    font-size: 24px;
    color: #333;
}

/* Formulaire */
form {
    margin-top: 20px;
}

/* Boutons */
.d-flex {
    display: flex;
    justify-content: center; /* Centre les boutons */
    align-items: center;
}

.d-flex .btn {
    padding: 10px 20px;
    font-size: 16px;
}

/* Messages */
ul {
    list-style: none;
    padding: 0;
}

li.success {
    color: green;
    font-weight: bold;
}

li.error {
    color: red;
    font-weight: bold;
}
