
/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Style des en-têtes du tableau */
thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
td ul {
    list-style-type: none; /* Supprime les puces */
    padding-left: 0; /* Supprime le retrait */
    margin: 0; /* Supprime les marges */
}

/* Style des lignes du tableau */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Effet au survol des lignes */
tbody tr:hover {
    background-color: #d1ecf1;
    transition: background-color 0.3s;
}

/* Style du message "Aucun étudiant trouvé" */
td[colspan="5"] {
    text-align: center;
    font-style: italic;
    color: #888;
}
