/* custom.css */

/* Style pour le bouton de retour en haut */
#back-to-top {
    background-color: white;  /* Remplace par la couleur de ton choix pour le bouton */
    border-radius: 50%;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  #back-to-top:hover {
    background-color:red;  /* Couleur au survol */
  }
  
  /* Cible l'icône de la flèche et la rend blanche */
  #back-to-top i {
    color: white;  /* Applique la couleur blanche à l'icône */
 
  }

  
  