{% extends "base.html" %}

{% block content %}
  <div class="max-w-4xl mx-auto p-6">
    {% include 'search/search_form.html' %}

    {% if query %}
      <h1 class="text-3xl font-bold mb-6 text-gray-800">Résultats pour "{{ query }}"</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for objet in resultats %}
          <div class="card border p-4 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold text-blue-600">{{ objet }}</h2>
            <p class="text-gray-700 result-item">
              {{ objet }}
            </p>
          </div>
        {% empty %}
          <p class="italic text-gray-500">Aucun résultat trouvé.</p>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-gray-500 italic">Tapez un mot-clé dans la barre de recherche pour trouver des contenus.</p>
    {% endif %}
  </div>


{% endblock %}
